:root{
    --color1:#edc7b7;
    --color2:#eee2dcb7;
    --color3:#bab2b5;
    --color4:#123c69;
    --color5:#ac3b61;
}
::webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    color:black;
    /* cursor:none; */
}

/* cursor */
#cursor {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1002;
  }
  #cursor-border {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease-out;
    z-index: 1002;
  }


body{
    background-color: var(--color1);
    font-family: 'Poppins',sans-serif;
}

/* nav */

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--color2);
    padding: 0 6vw;
    position:fixed;
    top: 0;
    left: 0;
    width: 88vw;
    box-shadow: 0vh .1vh .5vh rgba(0, 0, 0, 0.5);
    z-index: 1000;
    backdrop-filter: blur(2vw);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 .5vw;
    padding: .2vw .5vw;
    border-radius: 2vw;
    transition: all .2s;
}
nav ul li:hover{
    background-color: var(--color5);
    color: var(--color2);
    transform:translateY(.2vw);
    cursor: pointer;
}

nav .left{
    font-size: 2.2vw;
    font-weight: bold;
}

nav .right{
    font-size: 1vw;
}

/* section */
.section{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-1vw);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0vw);
}

@media(prefers-reduced-motion){
    .section{
        transition: none;
    }
}

/* firstSection */
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 18vh auto;
    height: 60vh;
    max-width: 90vw;
}

.leftSection{
    width: 60%;
    margin: 10vh 0;
    font-size: 3vw;
}

.leftSection .color{
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color5);
}

.rightSection{
    width: 40%;
    display: flex;
    justify-content:end;
    align-items: center;    
}

.rightSection img{
   height: 100%;
}



/* secondSection */
hr{
    border: 0;
    max-width: 80%;
    margin: 10vh auto;
    height: .5vh;
    border-radius: 1vh;
    background: var(--color5);
    opacity: 50%;
}

.secondSection{
    display: flex;
    max-width: 85vw;
    height: 70vh;
    margin: 5vh auto;
    text-align: center;
    background-color: var(--color2);
    border-radius: 2vw;
    box-shadow: 0vh .2vh 2vh rgba(0, 0, 0, 0.5);
}
.secondSection .arrow{
    margin: auto 1vw;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    max-width: 86%;
}
.projects .list{
    flex-direction:row;
    margin: 3vh auto;
}
.project img{
    border-radius:2vw;
    margin:1vw;       
    max-width: 10vw;
}
.title{
    text-align: center;
    font-size: 2vw;
    color: var(--color5);
}
.projects .left{
    text-align: start;
    max-width: 70%;
    font-size: 1.2vw;
}

.thirdSection{
    max-width: 85vw;
    height: 70vh;
    margin: 5vh auto;
    text-align: center;
    background-color: var(--color2);
    border-radius: 2vw;
    box-shadow: 0vh .2vh 2vh rgba(0, 0, 0, 0.5);
    overflow-x: scroll;
}

.skillbox{
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.skillbox ul li{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.skillbox span{
    background-color: var(--color5);
    margin: .5vh 1vw;
    padding: .5vw;
    color: var(--color2);
    border-radius: .5vw;
    width: 100%;
}

.skillbox img{
    width: 1.2vw;
}

/* 
@media only screen and (max-width:600px){
 body{
    width: 100vw;
 }
 nav .right{
    font-size: 1vw;
 }
} */